@charset "UTF-8";

/*      
    Mobile devices: typically below 600px
    Tablets: typically below 1000px
    Desktop devices: typically above 1000px
*/

/*TABLET*/

@media screen and (min-width: 768px) and (max-width: 992px) {  
    body{
        background-image: linear-gradient(to top, #49a0ad, #5f2c82);
    }
    section#login{
        width: 80vw;
        height: 280px;
    }
    section#login > div#imagem{
        width: 30%;
        height: 100%;
        float: left;
    }
    section#login > div#formulario{
        float: right;
        width: 70%;
    }
}



@media screen and (min-width: 992px){ /*PARA PC*/
    body{
        background-image: linear-gradient(to top, #49a0ad, #5f2c82);
    }
    section#login{
        width: 950px;
        height: 350px;
    }
    section#login > div#imagem{
        width: 50%;
        height: 100%;
        float: right;
    }
    section#login > div#formulario{
        float: left;
        width: 50%;
    }

    div#formulario > h1{
        font-size: 2em;
    }

    div#formulario > p{
        font-size: 1em;
        margin: 20px 0px;
    }
    

}