@charset "UTF-8";


/*Fontes*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');  /*'Passion one'*/
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap'); /*Sriracha*/


body{
    margin: 0px;
    padding: 0px;
}

header{
    color: white;
    background-color: black;
    padding: 15px;
    padding-top: 50px;
    
}
header h1 {
    font-family: 'Passion one';
    font-size: 10vw;
    text-align: center;
    margin: 0px;
    
}
header p, a{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    text-decoration: none;
}

header a:hover{
    text-decoration:underline;
}

main{
    margin-top: 10vw;
}

section p {
    font-family: 'Sriracha';
    font-size: 3.5vw;
    
    padding: 30px;
    line-height: 5.5vw;
}




#img1{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    padding: 50px;
    margin-top: 120px;
    background-attachment: fixed;
}

#img2{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    padding: 50px;
    margin-top: 120px;
    background-attachment: fixed;
}

#transparente{
    background-color: rgba(0, 0, 0, 0.500);
    color: white;
    width: 41vw;
    line-height: 7vw;
}

footer{
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-color: black;
    text-align: center;
}
footer p {
    margin: 0px;
}
footer a{
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

