@charset "UTF-8";



@media screen and (min-width: 768px) {
    section{
        width: 80vw;
        height: 280px;
       
    }

    .imagem{
        float: left;
        width: 30%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }



    .parte{
        width: 60%;
        padding: 5px;
    }
    .parte > input{
        width: 100%;
    }
}

@media screen and (min-width:992px) {
    section{
        width: 50vw;
        height: 280px;
       
    }
    .imagem{
        float: right;
        width: 30%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }
    .form-container{
        width: 50%;
        height: 100%;
        padding-left: 10px;
        float: left;

    }
}
